<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr4.Runtime.Standard" version="4.7.1.1" targetFramework="net47" />
  <package id="GraphSharp_Unofficial" version="1.0.4" targetFramework="net47" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.5" targetFramework="net47" />
  <package id="Microsoft.Net.Compilers" version="2.4.0" targetFramework="net47" developmentDependency="true" />
  <package id="NDesk.Options" version="0.2.1" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net47" />
  <package id="QuickGraph" version="3.6.61119.7" targetFramework="net47" />
  <package id="WPFExtensions" version="1.0.0" targetFramework="net47" />
</packages>